.title-section{
    background-color: #d5f7e6;
    color: black;
    font-size: large;
    display: flex;
    align-items: center;
}

.body-section{
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
}

.btn-green{
    color: #000;
    background-color: #d5f7e6;
    border-color: #d5f7e6;
}

.card{
    height: 100%;
}

.card-body > *{
    padding: 12px;
}

.card-text{
    height: 60%;
}