.title-section{
    background-color: #d5f7e6;
    color: black;
    font-size: large;
    display: flex;
    align-items: center;
}

.body-section{
    background-color: #e7e7e7;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
}

.box{
    background-color: #e7e7e7; 
}

img.teamImg{
    border-radius: 100%;
  
.bg-green{
    background-color: #d5f7e6;
}
.texto-borde {
    color: black; 
    text-shadow: 0 0 0.2em #e7e7e7;
  }
.bg-fondo{
    background-color:  #e7e7e7;
}

.btn-green{
    color: #000;
    background-color: #d5f7e6;
    border-color: #d5f7e6;
}

.card{
    height: 100%;
}

.card-body > *{
    padding: 12px;
}

.card-text{
    height: 60%;
}

.nav-link{
    font-size: 18px;
}

.h-80{
    height: 80px;
}

.nav-link:hover{
    font-size: 20px;
    text-decoration: underline;
    color: black;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 24px;
    height: 24px;
}

.carousel-indicators li{
    background-color: gray;
    height: 5px;
}

.carousel-caption{
    color: black;
    background-color: #d5f7e6;
    opacity: 0.9;
    border-radius: 50px;
}

.carousel-item > img {
    max-height: 550px;
}